<div class="container content">
	<div class="row">
		
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 reg-page">
			
			<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control margin-bottom-20', placeholder:"Nombre" %>
			<%= f.label :email %>
			<%= f.text_field :email, :autofocus => false, class: 'form-control margin-bottom-20', placeholder:"Email" %>
			<%= f.label :password %>
			<%= f.password_field :password, autocomplete: "off", :class => "form-control margin-bottom-20", placeholder:"Contraseña" %>
			<%= f.label :password_confirmation, "Confirm Password" %>
			<%= f.password_field :password_confirmation, :class => "form-control margin-bottom-20" %></br></br>
			<div class="col-lg-5 text-right">
				<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
			</div>
			
			<% end %>
			
		</div>
	</div>
</div>