
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  

<html>
<head>
  <title>Template</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= params %>  <!--checo en que accion estoy--> 

<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->
<%= render 'layouts/header' %>
<!-- <ul class="nav navbar-nav navbar-right">

  <p class="navbar-text">Benvenido:
      <li><% if user_signed_in? %></li>
  <li class="navbar-text"> <%= current_user.email%></li>
  <li><%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete %></li>
  <% else %>
  <li> <%= link_to "Rails Admin Dashboard", "/admin" %></li>

  <% end %>
</ul> -->


<%= yield %>
<%= render 'layouts/footer' %> 
<script type="text/javascript">

    jQuery(window).load(function() {
      // alert(" imagenes esta listas ");
      //  console.log( " eeeeeestaaaalisstaaa las imagenes :)ready!" );
        App.init();
        PortfolioPage.init();
        Index.initParallaxSlider();        
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
<![endif]-->

</body>
</html>
